body {
  background-color: #5372fc;
  color: white;
}

#content {
  text-align: center;
  background-color: #5372fc;
  color: white;  
}

#content a {
  color: white;
}

#content a:hover {
  color: black;
}
